.#*.*
*.zip
ontop-cli/
.omero/
.ipynb_checkpoints/
__pycache__/
!omero-ontop-mappings/omero-ontop-mappings.properties
/mpieb/
.jupyter/
test_proto.ipynb
test/test.obda
test/test.ttl
test/test.properties
test-ontop.sh
test/test.ttl
*.q
/queries/sparql/queries_mpb.org
