img/idr0017/A[[:space:]]-[[:space:]]3(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]6(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]9(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]15(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]16(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]4(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]1(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]20(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]23(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]23(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]24(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]2(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]4(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]10(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]18(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]20(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]7(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]7(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]8(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]10(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]11(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]18(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]1(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]23(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]24(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]9(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]14(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]16(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]17(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]18(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]20(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]2(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]5(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]6(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]9(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]10(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]13(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]13(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]1(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]24(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]5(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]7(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]9(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]18(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]1(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]21(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]21(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]24(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]2(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]3(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]4(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]5(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]7(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]11(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]14(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]15(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]20(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]20(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]22(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]8(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]12(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]12(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]13(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]14(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]21(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]23(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]2(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]5(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]8(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]10(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]22(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]13(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]15(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]15(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]19(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]23(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]6(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]12(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]21(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]2(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]2(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]12(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]13(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]14(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]17(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]1(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]21(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]22(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]3(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]6(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]11(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]15(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]17(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]21(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]11(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]19(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]24(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]5(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]9(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]10(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]10(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]12(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]14(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]23(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]6(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]6(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]8(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]16(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]19(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]1(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]9(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]11(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]13(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]14(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]15(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]18(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]19(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]20(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]2(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]5(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]17(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]19(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]8(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]11(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]15(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]16(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]17(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]17(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]2(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]3(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]4(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]4(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]9(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]12(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]1(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]3(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]13(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]14(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]18(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]19(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]10(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]12(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]21(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]24(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]5(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]22(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]5(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]13(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]16(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]17(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]24(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]3(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/2011-11-17[[:space:]]X-Man[[:space:]]LOPAC_X03_LP_S01_1.xdce filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]11(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]12(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]14(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]16(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]18(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]21(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]6(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]7(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]16(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]19(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]1(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]24(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]7(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]7(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]17(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]23(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]4(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]7(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]8(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]16(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]19(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]22(fld[[:space:]]1[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]3(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]3(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]9(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]10(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]18(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]20(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]22(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]22(fld[[:space:]]4[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]23(fld[[:space:]]4[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]4(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]15(fld[[:space:]]1[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]20(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]22(fld[[:space:]]3[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]4(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]6(fld[[:space:]]2[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]8(fld[[:space:]]2[[:space:]]wv[[:space:]]DAPI[[:space:]]-[[:space:]]DAPI).tif filter=lfs diff=lfs merge=lfs -text
img/idr0017/A[[:space:]]-[[:space:]]8(fld[[:space:]]3[[:space:]]wv[[:space:]]Cy3[[:space:]]-[[:space:]]Cy3).tif filter=lfs diff=lfs merge=lfs -text
