# Install and test and OMERO plugin e.g. a Web app, a CLI plugin or a library
#
# This workflow will install omero-test-infra, start an OMERO environment
# including database, server and web deployment, configure the OMERO plugin
# and run integration tests.
#
# 1. Set up the stage variable depending on the plugin. Supported stages
# are: app, cli, scripts, lib, srv
#
# 2. Adjust the cron schedule as necessary

name: OMERO
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  unit_test:
    name: Run test queries
    runs-on: ubuntu-latest
    env:
      STAGE: app
      NOCLEAN: true
      VERBOSE: true
    steps:
      - uses: actions/checkout@v4
      - name: pytest
        run: sudo apt install python3-pytest python3-rdflib python3-pandas
      - name: ontop-cli
        run: utils/install_ontop.sh
      - name: pytest
        run: pytest
